{% extends "base.html" %}

{% block page_content %}
    <h1>Электронный пропуск</h1>
    <div class="row">
        <div class="col">
            <img src="{{ person.photo }}" class="img-thumbnail" alt="user photo" width="400" height="700">
        </div>
    </div>

    <div class="row">
        <div class="col">
             <form action="" method="post" class="form" role="form">
              {{ form.csrf_token() }}
              {{ wtf.form_field(form.passport_number, class='form-control', value=person.passport_number, **{'data-inputmask':"'mask':'№ 999 999'"}) }}

                {% if not _pass.verified %}
                     <div>
                        <div class="col" style="border: solid; border-color: red"><h4 style="color: red;text-align: center;">Требуется подтверждение</h4></div>
                     </div>
                {% endif %}


              <div class="col" style="margin-top: 10px">
                    {{ wtf.form_field(form.submit, class='btn btn-primary btn-file')}}
              </div>

                {% if _pass.verified %}
                    <div>
                        <div class="col" style="border: solid; border-color: green"><h4 style="color: green;text-align: center;">Пропуск подтвержден</h4></div>
                    </div>
                    <div class="col" style="margin-top: 10px">
                        <button class="btn btn-primary btn-block" >Отметить въезд/выезд</button>
                    </div>
                {% endif %}

             </form>
        </div>
    </div>


       <script>
        $j=jQuery.noConflict();
        $j('document').ready(function() {
            $j(":input").inputmask();
        });
    </script>



{% endblock %}